name: Coverage
on:
  pull_request:
    types: [synchronize, opened, edited]
  push:
    branches: [main]
jobs:
  skip:
    name: Skip Duplicate Actions
    uses: ixm-one/common/.github/workflows/actions.skip.yml@main
  coverage:
    name: Code Coverage
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - name: Install Poetry
        run: pipx install poetry
      - name: Setup Python
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6
        with:
          python-version: '3.12'
          cache: poetry
      - name: Install Tools
        run: poetry install --with=dev
      - name: Run Tests
        run: >-
          poetry run pytest
          --cov=${{github.workspace}}/src
          --cov-branch
          -vv
          #--numprocesses=auto
      - name: Upload Code Coverage
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5
