name: Lint
on:
  pull_request:
    types: [synchronize, opened, edited]
  push:
    branches: [main]
jobs:
  skip:
    name: Skip Duplicate Actions
    uses: ixm-one/common/.github/workflows/actions.skip.yml@main
  actions:
    name: Lint GitHub Action Workflows
    uses: ixm-one/common/.github/workflows/actions.lint.yml@main
    needs: skip
    if: needs.skip.outputs.should-skip != 'true'
  spelling:
    name: Lint Spelling
    uses: ixm-one/common/.github/workflows/spellcheck.yml@main
    needs: skip
    if: needs.skip.outputs.should-skip != 'true'
  python:
    name: Lint Python
    runs-on: ubuntu-latest
    needs: skip
    if: needs.skip.outputs.should-skip != 'true'
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: Install Poetry
        run: pipx install poetry
      - name: Setup Python
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6
        with:
          python-version: '3.12'
          cache: poetry
      - name: Install Tools
        run: poetry install --with=dev
      - run: poetry run ruff format --check
      - run: poetry run ruff check
      - run: poetry run pyright src tests
